@use '../../styles/base/base';
@use '../../styles/abstracts/mixins';

.section1 {
  background-color: base.$color-black;
  width: 100%;
  height: 100vh;
  color: base.$color-white;
  position: sticky;
  top: 0;

  .section1Inner {
    @include mixins.innerStyle;

    .lastProject {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .pageTitle {
      position: absolute;
      bottom: min(3.5vw, 20px);
      font-weight: normal;
      font-size: base.$font-size-s;
      color: base.$color-gray_a;
      line-height: 2;
    }
  }
}

.section2 {
  background-color: base.$color-white;
  border-radius: 4rem 4rem 0 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
  height: 100vh;

  .inner {
    @include mixins.innerStyle;
    padding: 0;

    .projectList {
      width: fit-content;
      height: 100%;
      display: flex;
      align-items: center;
      gap: min(10vw, 10rem);
      padding: 0 10rem;
    }
  }
}

.section3{
  background-color: base.$color-black;
  width: 100%;
  position: relative;
  z-index: 2;

  .inner {
    @include mixins.innerStyle;

    .section3Content {
      min-height: 400px;
      max-width: 800px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      gap: min(10vw, 200px);

      @include mixins.MqTablet {
        flex-direction: column;
        justify-content: center;
      }
      
      h3 {
        font-weight: bold;
        font-size: base.$font-size-l;
      }

      p {
        font-size: base.$font-size-m;
        text-align: center;
        word-break: keep-all;
      }
    }
  }
}

.section4 {
  background-color: base.$color-white;
  position: relative;
  z-index: 2;
  color: base.$color-black;

  .inner {
    @include mixins.innerStyle;

    .section4Content {
      min-height: 400px;
      max-width: 800px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      gap: min(10vw, 200px);

      @include mixins.MqTablet {
        flex-direction: column;
        justify-content: center;
      }

      h3 {
        font-size: base.$font-size-l;
        font-weight: bold;
      }

      p {
        font-size: base.$font-size-m;
        text-align: center;
        word-break: keep-all;
        line-height: 2;
      }
    }
  }
}
